doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    nav.navbar
      .nav-container
        a.nav-brand(href="/") T-Shirt Store
        .nav-links
          a.nav-link(href="/") Home
          a.nav-link.cart-link(href="/cart") Cart 
            span#cart-count.cart-count 0
    
    main.main-content
      block content
    
    footer.footer
      .footer-content
        p &copy; 2024 T-Shirt Store. All rights reserved.
    
    script(src="/javascripts/cart.js")
    script(src="/javascripts/product.js")
